<!doctype html>

<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>The HTML5 Herald</title>
</head>

<body>

<nav class="navbar navbar-light bg-light container">
    <h1 class="navbar-brand">{{title}}</h1>
</nav>

<div class="filter-header container my-4">
  <h6 style="display: inline;">Filter by:</h6>
  <button type="button" class="btn btn-dark"  (click)="getIssues()">All</button>
  <button type="button" class="btn btn-dark"  (click)="filterOpen()">Open</button>
  <button type="button" class="btn btn-dark">My issues</button>
  <button type="button" class="btn btn-dark">Watching</button>
</div>

<table class="container table table-striped">
  <thead>
    <tr>
      <th><button type="button" class="btn" style="background-color:transparent" (click)="sortTitle()">Title</button></th>
      <th><button type="button" class="btn" style="background-color:transparent"  (click)="sortKind()">Kind</button></th>
      <th><button type="button" class="btn" style="background-color:transparent"  (click)="sortPriority()">Priority</button></th>
      <th><button type="button" class="btn" style="background-color:transparent"  (click)="sortStatus()">Status</button></th>
      <th><button type="button" class="btn" style="background-color:transparent"  (click)="sortUserID()">User ID</button></th>
      <th><button type="button" class="btn" style="background-color:transparent"  (click)="sortCreated()">Created</button></th>
      <th><button type="button" class="btn" style="background-color:transparent"  (click)="sortUpdated()">Updated</button></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="issue-table-body">
    <tr *ngFor="let issue of issues">
      <td>#{{issue.id}} {{issue.title}}</td>
        <td>
          <div *ngIf="issue.issue_kind_id == 1">
            <button type="button" class="btn" style="background-color:transparent" (click)="showKind(issue.issue_kind_id)">
              <img src="https://safe-ridge-41224.herokuapp.com/assets/bug-0cef5be35522ed02d898f1f65e95c3be9c0d09d214b7013cee6eb30a7118b2a5.svg" />
            </button>
          </div>
          <div *ngIf="issue.issue_kind_id == 2">
            <button type="button" class="btn" style="background-color:transparent" (click)="showKind(issue.issue_kind_id)">
              <img src="https://safe-ridge-41224.herokuapp.com/assets/enhancement-8b1bac2d78457489b5b3d91ad2bcd66edd9d5e2d5860c63225b1747a76294f74.svg" />
            </button>
          </div>
          <div *ngIf="issue.issue_kind_id == 3">
            <button type="button" class="btn" style="background-color:transparent" (click)="showKind(issue.issue_kind_id)">
              <img src="https://safe-ridge-41224.herokuapp.com/assets/proposal-6d98b00edfa7d872da75aa3ce27bc14967e350f6ef8f94d2a4700ad9f21f3f18.svg" />
            </button>
          </div>
          <div *ngIf="issue.issue_kind_id == 4">
            <button type="button" class="btn" style="background-color:transparent" (click)="showKind(issue.issue_kind_id)">
              <img src="" />
            </button>
          </div>
        </td>
          
        <td>
          <div *ngIf="issue.issue_priority_id == 1">
            <button type="button" class="btn" style="background-color:transparent" (click)="showPriority(issue.issue_priority_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_priority_id == 2">
            <button type="button" class="btn" style="background-color:transparent" (click)="showPriority(issue.issue_priority_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_priority_id == 3">
            <button type="button" class="btn" style="background-color:transparent" (click)="showPriority(issue.issue_priority_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_priority_id == 4">
            <button type="button" class="btn" style="background-color:transparent" (click)="showPriority(issue.issue_priority_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_priority_id == 5">
            <button type="button" class="btn" style="background-color:transparent" (click)="showPriority(issue.issue_priority_id)">
              <img src="" />
            </button> 
          </div>
        </td>
        <td>
          <div *ngIf="issue.issue_status_id == 1">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 2">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 3">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 4">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 5">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 6">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 7">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
          <div *ngIf="issue.issue_status_id == 8">
            <button type="button" class="btn" style="background-color:transparent" (click)="showStatus(issue.issue_status_id)">
              <img src="" />
            </button> 
          </div>
        </td>
        <td><button type="button" class="btn" style="background-color:transparent" (click)="showUser(issue.user_id.id)">{{issue.user_id.name}}</button></td>
        <td><button type="button" class="btn" style="background-color:transparent" >{{issue.created_at}}</button></td>
        <td><button type="button" class="btn" style="background-color:transparent" >{{issue.updated_at}}</button></td>
    </tr>
  </tbody>
</table>

  <script src="js/scripts.js"></script>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

<router-outlet></router-outlet>
