<div class="container-new" style="padding: 0px 100px">
  <div class="create-header ">
    <h1 style="display: inline; margin: 5px 3px;">Issues</h1>
    <h3 class="btn btn-dark" style="margin: 2px 3px;">Create issue</h3>
  </div>
</div>
<div class="container-form" style="padding: 0px 100px">
<form>
Title <input type="text" name="title"><br>
Description <textarea type="text" name="description" rows="5" cols="50"></textarea><br>
Assignee <select name="assignee">
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
          <option value="6"></option>
      </select><br>
Issue kind <select name="issueKind">
          <option value="1"></option>
          <option value="2"></option>
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
          <option value="6"></option>
      </select><br>
Issue priority <select name="issuePriority">
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
              </select><br>
Attachments <input type="file" name="attachments" accept="image/*"><br>
<button type="submit" value="Submit">Create issue</button>
<button type="cancel" value="cancel">Cancel</button>
</form>
</div>
