<div class="container-fluid" style="padding: 0px 50px">
  <div class="filter-header my-4">
    <h6 style="display: inline; margin: 5px 3px;">Filter by:</h6>
    <button routerLink="/issues" routerLinkActive="active" type="button" class="btn btn-dark"  (click)="getIssues()" style="margin: 2px 3px;">All</button>
    <button routerLink="/issues/open" routerLinkActive="active" type="button" class="btn btn-dark"  (click)="filterOpen()" style="margin: 2px 3px;">Open</button>
    <button type="button" class="btn btn-dark" style="margin: 2px 3px;">My issues</button>
    <button type="button" class="btn btn-dark" style="margin: 2px 3px;">Watching</button>
  </div>
</div>
<table class=" table table-striped">
  <thead>
    <tr>
      <th><button type="button" class="btn" style="background-color:transparent" (click)="sortTitle()">Title</button></th>
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortKind()">Kind</button></th>
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortPriority()">Priority</button></th>
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortStatus()">Status</button></th>
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortUserID()">User ID</button></th>
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortCreated()">Created</button></th>
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortUpdated()">Updated</button></th>     
      <th class="text-center"><button type="button" class="btn" style="background-color:transparent"  (click)="sortWatching()">Watching</button></th>
    </tr>
  </thead>

  <tbody class="issue-table-body">
    <tr *ngFor="let issue of issues">
      <td class="align-middle">
        <div class="row">
          <div class="col-2">
            #{{issue.id}}
          </div>
          <div class="col">
            <button type="button" class="btn" style="background-color:transparent; padding: 0px 0px;" (click)="goToIssue(issue.id)">
              {{issue.title}}
            </button>
          </div>
        </div>
      </td>
      <td class="align-middle">
        <div class="text-center" *ngIf="issue.issue_kind_id == 1">
          <button routerLink="/issues/bug" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/bug-0cef5be35522ed02d898f1f65e95c3be9c0d09d214b7013cee6eb30a7118b2a5.svg" />
          </button>
        </div>
        <div class="text-center" *ngIf="issue.issue_kind_id == 2">
          <button routerLink="/issues/enhancement" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/enhancement-8b1bac2d78457489b5b3d91ad2bcd66edd9d5e2d5860c63225b1747a76294f74.svg" />
          </button>
        </div>
        <div class="text-center" *ngIf="issue.issue_kind_id == 3">
          <button routerLink="/issues/proposal" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/proposal-6d98b00edfa7d872da75aa3ce27bc14967e350f6ef8f94d2a4700ad9f21f3f18.svg" />
          </button>
        </div>
        <div class="text-center" *ngIf="issue.issue_kind_id == 4">
          <button routerLink="/issues/task " type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/task-f01f4a88b8809fe8d55836cc96845f34e60a248e7514103e3cd7866c76773c91.svg" />
          </button>
        </div>
      </td>
        
      <td class="align-middle">
        <div class="text-center" *ngIf="issue.issue_priority_id == 1">
          <button routerLink="/issues/trivial" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/trivial-5518244345e00cd4a5fa6f15d2e06d8bdd5a59ec56af8bc9de73694242e91ba3.svg"  style="width: 10%; height: 10%" />
          </button>
        </div>
        <div class="text-center" *ngIf="issue.issue_priority_id == 2">
          <button routerLink="/issues/minor" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/minor-3b9ec8225b7e2d8e072b7a21707a1aeece95500fe92a183fd780f9fd91ba4527.svg" style="width: 10%; height: 10%"/>
          </button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_priority_id == 3">
          <button routerLink="/issues/major" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/major-3989ecbc723ed029e25331900c2a95cac2676920dbbb41b2f6a3d475f4c39c9c.svg" style="width: 10%; height: 10%"/>
          </button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_priority_id == 4">
          <button routerLink="/issues/critical" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/critical-bff267ee5aa80285d388bc70e126dee7bf5d86e4024a6c5915aa2d1d48d1dcbf.svg" style="width: 10%; height: 10%"/>
          </button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_priority_id == 5">
          <button routerLink="/issues/blocker" type="button" class="btn" style="background-color:transparent; padding: 0px 0px;">
            <img src="https://safe-ridge-41224.herokuapp.com/assets/blocker-deaf6c1ddc85299cf40032f76fbcfa105d2fc7df43e2b72cba51b09019879ef0.svg" style="width: 10%; height: 10%"/>
          </button>
        </div>
      </td>

      <td class="align-middle">
        <div class="text-center" *ngIf="issue.issue_status_id == 1" style="align-content: center">
          <button routerLink="/issues/new" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">NEW</button>
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 2" style="align-content: center">
          <button routerLink="/issues/open" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">OPEN</button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 3" style="align-content: center">
          <button routerLink="/issues/onhold" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">ON HOLD</button>
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 4" style="align-content: center">
          <button routerLink="/issues/resolved" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">RESOLVED</button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 5" style="align-content: center">
          <button routerLink="/issues/duplicate" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">DUPLICATED</button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 6" style="align-content: center">
          <button routerLink="/issues/invalid" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">INVALID</button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 7" style="align-content: center">
          <button routerLink="/issues/wontfix" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">WON'T FIX</button> 
        </div>
        <div class="text-center" *ngIf="issue.issue_status_id == 8" style="">
          <button routerLink="/issues/open" type="button" class="btn" style="background-color:white; font-size: 12px; border-color: grey; color: black; padding: 2px 3px; ">CLOSED</button> 
        </div>
      </td>
      <td class="align-middle"><button type="button" class="btn" style="background-color:transparent" (click)="showUser(issue.user_id.id)">
        <div class="row">
            <div class="col-1">
              <img [src]="issue.user_id._links.image.href" style="border-radius: 50%; width: 35px" class="align-middle">
              <!-- {{issue.user_id._links.image.href}} -->
            </div>
            <div class="col">
              {{issue.user_id.name}}
            </div>
          </div>
      </button></td>
      <td class="align-middle"><button type="button" class="btn" style="background-color:transparent" >
        {{issue.created_at[8]}}{{issue.created_at[9]}}{{issue.created_at[4]}}{{issue.created_at[5]}}{{issue.created_at[6]}}{{issue.created_at[7]}}{{issue.created_at[0]}}{{issue.created_at[1]}}{{issue.created_at[2]}}{{issue.created_at[3]}}
      </button></td>
      <td class="align-middle"><button type="button" class="btn" style="background-color:transparent" >
        {{issue.updated_at[8]}}{{issue.updated_at[9]}}{{issue.updated_at[4]}}{{issue.updated_at[5]}}{{issue.updated_at[6]}}{{issue.updated_at[7]}}{{issue.updated_at[0]}}{{issue.updated_at[1]}}{{issue.updated_at[2]}}{{issue.updated_at[3]}}
      </button></td>
      <td class="align-middle"><button type="button" class="btn">
        <img src="https://safe-ridge-41224.herokuapp.com/assets/not-watching-aaf3dcb26901b284a51dd3a4fe995ab0c3ab1656147328241c2f700c7a5c84fa.svg" style="width: 8%; height: 8%"/>
        <!--
          Una vez watching:
            https://safe-ridge-41224.herokuapp.com/assets/watching-04ac24e59f9fbc1a5e25096a0888b14ca32284b20cda981c43057ab2118f893d.svg
        -->
      </button></td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>